h1 {color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btnContainer1{
    text-align: center;
    padding-top: 10px;
}

.btnContainer2{
    text-align: center;
    padding-bottom: 10px;
}

.button{ 
    background-color: #03d9ff;
    border: 5;
    color: black;
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 40px;
    width: 350px;
}  

.buttonSelect{ 
    background-color: #ffbc03;
    border: 5;
    color: black;
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 40px;
    width: 350px;
}  

body{
    background-color: #a9f8f2;
}